<!doctype html>
<html>
<head>
    <title>Test Automation Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css">
    <style type="text/css">
        pre {
            word-break: keep-all !important;
            word-wrap: normal !important;
            overflow-x: scroll !important;
        }
        @media only screen and (min-width: 641px) {
            .remodal {
                max-width: 90%;
            }
        }
        li.list-group-item {
            cursor: pointer
        }
        .hidden {
             display: none;
         }
        .success {
            background-color: #5cb85c;
        }
        .failure {
            background-color: #d9534f;
        }
        p {
            margin: 0 0 0;
        }
    </style>
</head>
<body>
{% for suite in report %}
    {% import _self as rep %}

<div class="container remodal-bg">
    <header class="page-header">
        {% if suite.total_tests > 0 %}
            <small>
                Ran a total of {{ suite.total_tests }} tests.
            </small>
        {% endif %}

        <p>
            <small>
                {% if suite.total_passed > 0 %}
                    <a href="javascript:void(0)"
                       data-show-msg="Show Passed Tests ({{ suite.total_passed }})"
                       data-hide-msg="Hide Passed Tests ({{ suite.total_passed }})"
                       data-target="section.passed-feature, section.passed-test "
                       class="btn btn-success feature-toggle"
                    >
                        Show Passed Tests ({{ suite.total_passed }})
                    </a>
                {% endif %}

                {% if suite.total_failures > 0 %}
                    <a href="javascript:void(0)"
                       data-show-msg="Show Failed Tests ({{ suite.total_failures }})"
                       data-hide-msg="Hide Failed Tests ({{ suite.total_failures }})"
                       data-target="section.failed-feature, section.failed-test"
                       class="btn btn-danger feature-toggle"
                    >
                        Hide Failed Tests ({{ suite.total_failures }})
                    </a>
                {% endif %}
            </small>
        </p>
    </header>

    {% if not suite.successful %}
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: {{ suite.success_percentage }}%">
                <span class="sr-only">{{ suite.total_passed }}</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{ suite.failure_percentage }}%">
                <span class="sr-only">{{ suite.total_failures }}</span>
            </div>
        </div>
    {% endif %}

    {{ rep.parse_suite(suite) }}
</div>
{% endfor %}

</body>
</html>

{% macro parse_suite(suite) %}
<div class="panel panel-default">
    <div class="panel-heading">{{ suite.title }}</div>
    <div class="panel-body">
    </div>
    <ul class="list-group">
        {% for test in suite.children %}
            {% import _self as rep %}
            {% if test.type == "child_suite" %}
                {{ rep.parse_child_suite(test) }}
            {% endif %}

            {% if test.type == "test" %}
                {{ rep.parse_test(test, loop.index) }}
            {% endif %}

        {% endfor %}
    </ul>
</div>
{%  endmacro parse_suite %}

{# Child test suites are shown as sections #}
{% macro parse_child_suite(suite) %}
            {% for child in suite.children %}
                {% import _self as rep %}
                {% set number = loop.index*1000 %} }}
                {{ rep.parse_test(child, number) }}
            {% endfor %}

{% endmacro parse_child_suite %}

{# Parse tests as sections and their exceptions as list items #}
{% macro parse_test(test, index) %}
    {% if test.successful %}
        {% set bgClass = "success" %}
    {% else %}
        {% set bgClass = "failure" %}
    {% endif %}

    <li class="list-group-item {{ bgClass }}" data-remodal-target="modal-{{ index }}">
        <p>
            {% if test.successful %}
                <span class="glyphicon glyphicon-ok-sign"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove-sign"></span>
            {% endif %}
            {% if test.children is not empty %}
                <span class="glyphicon glyphicon-info-sign"></span>
            {% endif %}
            {{ test.title }}
        </p>
    </li>
    <div class="remodal" data-remodal-id="modal-{{ index }}">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>{{ test.title }}</h1>
        {% if test.children is not empty %}
            <div>
                {% for event in test.children %}
                    {% if event.type == "failure" %}
                        {% import _self as rep %}
                        <div class="panel panel-danger">
                            <div class="toggle-request-body panel-heading failure">
                                <h3 class="panel-title">{{ event.exception_type }}</h3>
                            </div>
                            <div align="left" class="request hidden">
                                <pre>
                                    {{ event.exception_msg }}
                                    &nbsp;
                                    {{ event.exception_trace }}
                                </pre>
                            </div>
                        </div>
                    {% elseif event.type == "http_transaction" %}
                        {% if loop.first %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Performed HTTP transactions</h3>
                                </div>
                            </div>
                        {% endif %}

                        {%  if loop.last %}

                        {% endif %}
                        <div class="panel panel-default">
                            <div align="left" class="toggle-request-body panel-heading">
                                <span class="glyphicon glyphicon-plus"></span>
                                &nbsp;
                                {{- event.request_method }} on {{ event.request_url }}.
                            </div>
                            <div align="left" class="request hidden">
                                <pre>
                                    <code class="http">
                                        {{- event.request | escape }}
                                    </code>
                                </pre>
                                <pre>
                                    <code class="http">
                                        {{- event.response | escape }}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <br>
            {% if test.traffic_logger_content %}
                    <a class="remodal-confirm" href="{{ test.traffic_logger_file }}" target="_blank">
                        Download HAR
                    </a>
                    <button class="remodal-confirm showhar">Show HAR</button>
                <button class="test-execution-item list-group-item hidden harContent">
                    {{ test.traffic_logger_content }}
                </button>
            {% else %}
                {% if test.traffic_logger_file %}
                        <a href="{{ test.traffic_logger_file }}" target="_blank">
                            Download HAR
                        </a>
                {% endif %}
            {% endif %}
        {% endif %}

        <button data-remodal-action="cancel" class="remodal-cancel">
            Close
        </button>
    </div>
{% endmacro parse_test %}

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="http://logo.olx.pl/images_pmaciejewski/har-viewer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
<link rel='stylesheet' href='http://logo.olx.pl/images_pmaciejewski/har-viewer.css'/>
<link rel='stylesheet' href='https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css'/>

<script>
    $(function () {
        $(".showhar").on("click", function() {
            var $this = $(this);
            var $modalArea = $("#modal-body");
            var dataContent = $this.parent().siblings('.harContent').html();
            var data = JSON.parse(dataContent);
            $modalArea.html(
                '<div class="overlay-contents" style="height: 300px; overflow: auto; margin-bottom: 15px;">' +
                '<div class="harContentRender"></div>' +
                '</div>'
            );
            var modal = $("#modal");
            modal.modal();
            var content = modal.find('.harContentRender').HarView();
            var har = content.data('HarView');
            har.render(data);
        });

        $(".feature-toggle").click(function(){
            var $this   = $(this);
            var $target = $($this.attr('data-target'));

            $target.toggle(function(){
                if ($target.is(":visible")) {
                    $this.text($this.attr('data-hide-msg'));
                } else {
                    $this.text($this.attr('data-show-msg'));
                }
            });
        });

        $(".toggle-request-body").click(function(event){
            event.stopPropagation();
            var $button = $(this);
            var $target = $(this).next('.request');
            $button.children('span').toggleClass('glyphicon-minus');
            $button.children('span').toggleClass('glyphicon-plus');
            if ($target.is(':visible')) {
                $target.addClass('hidden', function () {

                });
            } else {
                $target.removeClass('hidden');
            }
        });

        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
    });
</script>

<div class="modal fade" id="modal" tabindex="1" role="dialog" arialabelledby="myModalLabel">
        <div class="modaldialog modallg" role="document">
                <div class="modalcontent">
                        <div class="modalheader">
                                <button type="button" class="close" datadismiss="modal" arialabel="Close"><span
                                                        ariahidden="true">&times;</span></button>
                                <h4 class="modaltitle" id="myModalLabel">Details</h4>
                        </div>
                        <div class="modalbody" id="modalbody" style="maxheight: 100%">

                        </div>
                </div>
        </div>
</div>